.headerSpacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: #e1dcdc;
<<<<<<< HEAD
  
=======
>>>>>>> ef4f91b8044e31908c59b791082523de9c0ec1cd
}

.bgHeader {
  background-color: #2b475e;
  height: 65px;
}

img {
<<<<<<< HEAD
=======
  margin-top: 15px;
>>>>>>> ef4f91b8044e31908c59b791082523de9c0ec1cd
  padding: 4px;
  border: #969191 solid;
  border-width: 0.5px 0.5px 0.5px 0.5px;
  box-shadow: 2px 2px 5px #999;
}
ul {
  font-family: "Lilita One";
<<<<<<< HEAD
  font-size: 20px;
  margin-top: 17px;
}

.selection {
  font-family: "Lilita One";
  font-size: 20px;
  color: #e1dcdc;
  width: 229px;
  margin-top: 25px;
}

.option {
  font-family: "Lilita One";
  color: #ac7420;
  
=======
  font-size: 25px;
>>>>>>> ef4f91b8044e31908c59b791082523de9c0ec1cd
}
