.bgFooter {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #343338;
  color: #e1dcdc;
  padding-left: 150px;
}

a {
  text-decoration: none;
  color: var(--textoblanco);
}
