<div class="bgComponent">
  <div class="container position-relative">   

    <div  class="row position absolute" >      
      <div class = "col mt-4" *ngFor="let board of boardData" hideToggle="false" >

        <div class="example-button-container">
          <button mat-mini-fab color="primary" class="button" routerLink="/saveTask">
            New ListTask
          </button>
        </div>
      <mat-card class="example-card" style="width: 20rem;">
        
        <mat-card-header>          
          <mat-card-title routerLink="/listTask">{{ board.name }}</mat-card-title>
          <mat-card-subtitle> {{ board.description }} </mat-card-subtitle>
        </mat-card-header>        
        <img mat-card-image src="{{ board.imageUrl }}" routerLink="/listTask">
        {{ board._id }} 
      
      
        <p>          

          <mat-icon color="primary" data-toggle="modal" data-target="#myModal" 
           (click) = "listmember(board)">
            accessibility </mat-icon>
          <span class="spacer"></span>
          <mat-icon color="primary" routerLink="/listBoardMember">build</mat-icon >
          <span class="spacer"></span>
          <mat-icon color="primary" (click)="deleteBoard(board)">delete</mat-icon > </p>
        
      </mat-card>
    
      </div>   
    </div>
  </div>
</div>


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <div class="example-button-container">
        <button mat-mini-fab color="primary" class="button" routerLink="/saveTask">
          New Member
        </button>
      </div>

      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header">
           <h4 class="modal-title">Modal Header</h4>
        </div>     
        <div class="modal-body" *ngFor="let member of memberData" hideToggle="false" >


          <p> Nombre : {{member.name}}</p>
          <p> Role : {{member.role}}</p>
          <p> Ranking : {{member.ranking}}</p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>