.bgComponent {
  background-image: url("../../../assets/img/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-bottom: 5%;
  }
.bodyx{
  display: flex;
  padding-top: 200px;
  padding-left: 40px;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
  width:250px;
  max-height:700px;
}
.card {
  display: grid;
  grid-template-columns: 180px;
  grid-template-rows: 200px 200px 70px;
  grid-template-areas: "image" "text" "stats";

  border-radius: 18px;
  background:#ffffff;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  text-align: center;
  

  transition: 0.5s ease;
  cursor: pointer;

  margin-bottom: 50px;

    transition: 0.5s ease;
    cursor: pointer;
  
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

img{
  border-radius: 15px;
  width:150px;
  height: 150px;
}

.card-text {
  grid-area: text;
  margin: 0px;

}
.card-text .date {
  color: rgb(255, 7, 110);
  padding-top: 10px;
  font-size:13px;
}
.card-text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top:10px;
  font-size:28px;
}
.card-stats {
  grid-area: stats; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #2b475e;
}
.card-stats .stat {
  padding:10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  border-radius: 1px;
}
.card-stats .border {
  border-left: 1px solid rgb(172, 26, 87);
  border-right: 1px solid rgb(172, 26, 87);
}
.card-stats .value{
  font-size:22px;
  font-weight: 500;
}
.card-stats .value sup{
  font-size:12px;
}
.card-stats .type{
  font-size:11px;
  font-weight: 300;
  text-transform: uppercase;
}
.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.bgComponent{
  width: 100%;
  height: 92%;
  background-color: #024553;
  padding-bottom: 20px;
  
}



.container{
  
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  height: 575px;
  }
  .bg-container{
  width: 50%;
  }
  .bg-container svg{
  width: 100%;
  height: 90%;
  margin-left: 30px;
  margin-top: 20px;
  }
  .content-container{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
  .content-container h1{
  color: #564FCC;
  font-weight: 900;
  font-size: 60px;
  line-height: 0.9em;
  margin-bottom: 30px;
  }
  .content-container p{
  line-height: 1.8em;
  font-weight: 500;
  }
  .content-container button{
  border: none;
  outline: none;
  color: #FFF;
  background-color: #6C63FF;
  padding: 16px 0px;
  border-radius: 40px;
  font-size: 16px;
  width: 160px;
  margin-top: 30px;
  cursor: pointer;
  }
  .content-container button:hover{
  opacity: 0.9;
  }



  section
{
	padding: 100px;
	height: 60vh;
  margin-bottom: 90px;
  margin-right: 150px;
  position: relative;
}

.navigation
{
	position: absolute;
	display: flex;
	right: 150px;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s;
}
.navigation.active
{
	opacity: 1;
	visibility: visible;
}
.navigation li
{
	list-style: none;
}
.navigation li a
{
	
	text-decoration: none;
	font-size: 16px;
	margin: 0 20px;
	font-weight: 600;
	display: inline-block;
	opacity: 0;
	text-transform: uppercase;
}
.navigation.active li a
{
	animation: slideRight 0.5s ease-in-out forwards;
	animation-delay: calc(0.2s * var(--i));
}
section .container
{
  
	position: absolute;
	display: flex;
	
	
}
section .container .box
{
	position: relative;
	width: 25%;
	height: 100%;
	overflow: hidden;
	padding-left: 10px;
}
section .container .box:last-child
{
	border-right: none;
}
section .container .box .imgBx
{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	transition: 0.5s;
	opacity: 0;
	animation: slideRight 0.5s ease-in-out forwards;
	animation-delay: calc(0.2s * var(--i));
}
section .container .box .imgBx.active
{
	position: fixed;
	top: 100px;
	left: 100px;
	width: calc(100% - 200px);
	height: calc(100% - 200px);
	z-index: 1000;

	opacity: 1;
}
section .container .box .imgBx img
{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.5s;
}
section .container .box .imgBx:hover img
{
	transform: scale(1.2);
}
section .container .box .imgBx.active:hover img
{
	transform: scale(1);
}
.footer
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0 100px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sci
{
	position: relative;
	display: flex;
}
.sci li
{
	list-style: none;
}
.sci li a
{
	
	text-decoration: none;
    font-weight: 500;
	margin-right: 20px;
    display: inline-block;
    opacity: 0;
	animation: slideLeft 0.5s ease-in-out forwards;
	animation-delay: calc(0.2s * var(--i));
}
.sci li:last-child a
{
	margin-right: 0;
}
.copyrightText
{
	color: #111;
    font-weight: 500;
    opacity: 0;
	animation: slideRight 0.5s ease-in-out forwards;
	animation-delay: 2.5s;
}

@keyframes slideRight
{
	0%
	{
		transform: translateX(150px);
		opacity: 0;
	}
	100%
	{
		transform: translateX(0px);
		opacity: 1;
	}
}
@keyframes slideLeft
{
	0%
	{
		transform: translateX(-150px);
		opacity: 0;
	}
	100%
	{
		transform: translateX(0px);
		opacity: 1;
	}
}
@media (max-width: 768px)
{
	section
	{
	    padding: 80px 20px;
	}
	section header
	{
	    height: 70px;
	    padding: 10px 20px;
	}
	.navigation
	{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		
	}
	.navigation li a
	{
	    
	    text-decoration: none;
	    font-size: 20px;
	    margin: 5px 10px;
	    letter-spacing: 1px;
	    display: inline-block;
	    font-weight: 600;
	    text-transform: uppercase;
	}
	section .container
	{
		flex-direction: column;
		flex-wrap: wrap;
    	width: calc(100% - 30px);
    	height: calc(100% - 170px);
	}
	section .container .box
	{
		width: 100%;
		height: 25%;
		border-bottom: 10px solid red;
	}
	section .container .box .imgBx.active
	{
	    top: 70px;
	    left: 20px;
	    width: calc(100% - 40px);
	    height: calc(100% - 160px);
	}
	section .container .box:last-child
	{
		border-right: 10px solid ;
	}
	.footer
	{
	    width: 100%;
	    padding: 0 20px;
	    flex-direction: column;
	    justify-content: center;
	}
}