
<div class="bgComponent">
    <div class="container">
<br>
<h1> Welcome to TaskBuddie</h1><br><br>
<h2> TaskBuddie is a tool that allows you to create team tasks. </h2><br>
<h2> You will be able to organize the corresponding activities of each member and their progress.</h2><br><br>
<ul>
<h2> Free Version  </h2>
<li><h3> Create boards with 5 members. </h3></li>
<li><h3> Assign differentiated tasks to each team member. </h3></li>
<li><h3> Participation rankings. </h3></li>
<li><h3> Add images to your favorite tasks.</h3></li>
<h2> Premium Version  </h2>
<li><h3> Create boards with unlimited members.</h3></li>
<li><h3> Assign a background to your favorite boards.</h3></li>
</ul>

</div>
</div>