.bgComponent {
  background-image: url("../../../assets/img/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.container {  
  align-items: center;
  justify-content: center;
}

h1 {  
  text-align: center;
  color: #2b475e;
  font-size: 5rem;
  font-family: Georgia, 'Times New Roman', Times, serif ;
}

h2 {
  color: #2b475e;
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif ;
}


.tamcarousel {
  width: 40rem;
  align-items: center;
  justify-content: center;
  border-radius: 1%;
}

.imagencarrusel {
  width: 40rem;
  align-items: center;
  justify-content: center;
  border-radius: 1%;
}



.elem1{
  padding-top: 4rem;
  padding-left: 5rem;
  padding-right: 5rem;

}

.elem2{
  padding-top: 4rem;
  padding-left: 5rem;
  padding-right: 5rem;

}

.elem4{
 display: flex;
 justify-content:center;
 align-items: center;
 flex-direction: row;
}

.elem5{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: row;
  padding-bottom: 5rem;
 }
