  
  <div class="container-fluid">
    
    <div class="row">
      <div class="col-sm-9">
        
      </div>
  
  
    </div>
    <!--End row-->
  </div>
  <!--End container-->
  
  <br>
  <div class="container">
  <div class="row"> 
   
    
  <div class="col-sm-4 mb-3">
  <div class="card border-secondary" style="width: 18rem;">
    <div class="card-header">Sobre nosotros</div>
  
    <div class="card-body">
    <p>StackOverflowers es un grupo de software developers amantes de la programación  que busca ofrecer soluciones tecnológicas a diversas empresas en Colombia. </p>
  </div>
  </div>
  </div>
  
  <div class="col-sm-4 mb-3">
    <div class="card border-secondary" style="width: 18rem;">
    
      <div class="card-header">Misión</div>
  
  <div class="card-body">
  <p>Ofrecer soluciones tecnológicas con la mayor seguridad de la información y el  cumplimiento de las expectativas de nuestros clientes. </p> 
  </div>
    </div>
    </div>
  
    <div class="col-sm-4 mb-3">
      <div class="card border-secondary" style="width: 18rem;">
        <div class="card-header">Visión</div>
   
   <div class="card-body">
   <p>En el 2026 será una compañía desarrolladora de software reconocida a nivel nacional brindando los mejores servicios tecnológicos a nuestros clientes. </p>
  </div>
      </div>
      </div>
  
  </div>
  <h2>Equipo de trabajo:</h2>
    <hr>
  
    <div class="row">
     
  
      <!--Start card-->
      <div class="col-sm-4">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card mb-3 shadow" style="width: 18.3rem">
                <img src="./assets/img/team/julian.jpg" class="card-img-top" alt="Fotografía Julián Rodríguez">
                <h5 class="card-header text-center">Scrum Master</h5>
                <div class="card-body">
                  <p class="card-text text-center">Julián Rodríguez</p>
                </div>
              </div>
            </div>
            <div class="flip-card-back">
              <div class="card-body">
                <br>
                <p class="font-italic">Ingeniero mecatrónico</p>
                <img src="./assets/img/logos/piloto.png" class="card-img-top" style="width:180px;height:70px;"
                  alt="Logo Universidad Piloto de Colombia">
                <hr class="card-team">
                <p>Desarrollador web Full Stack</p>
                <img src="./assets/img/logos/logo-choucair-1.png" class="card-img-top" style="width:170px;height:80px;"
                  alt="Logo Choucair Testing ">
                <img src="./assets/img/logos/stackoverflowers.png" class="card-img-top" style="width:170px;height:50px;"
                  alt="Logo Stackoverflowers">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End card-->
  
      <!--Start card-->
      <div class="col-sm-4 ">
        <div class="flip-card ">
          <div class="flip-card-inner ">
            <div class="flip-card-front">
              <div class="card mb-3 shadow" style="width: 18.3rem">
                <img src="./assets/img/team/camilo.jpg" class="card-img-top" alt="Fotografía de Camilo Rodríguez">
                <h5 class="card-header text-center">Líder técnico</h5>
                <div class="card-body">
                  <p class="card-text text-center">Camilo Rodríguez</p>
                </div>
              </div>
            </div>
            <div class="flip-card-back">
              <div class="card-body">
                <br>
                <p class="font-italic">Ingeniero de sistemas</p>
                <img src="./assets/img/logos/piloto.png" class="card-img-top" style="width:180px;height:70px;"
                  alt="Logo Universidad Piloto de Colombia">
                <hr class="card-team">
                <p>Desarrollador web Full Stack</p>
                <img src="./assets/img/logos/logo-olimpia.png" class="card-img-top" style="width:180px;height:90px;"
                  alt="Logo Olimpia IT">
                <img src="./assets/img/logos/stackoverflowers.png" class="card-img-top" style="width:180px;height:60px;"
                  alt="Logo Stackoverflowers">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End card-->
  
      <!--Start card-->
      <div class="col-sm-4 team">
        <div class="flip-card ">
          <div class="flip-card-inner ">
            <div class="flip-card-front">
              <div class="card mb-3 shadow" style="width: 18.3rem">
                <img src="./assets/img/team/anthony.jpg" class="card-img-top" alt="Fotografía de Anthony Ahumada">
                <h5 class="card-header text-center">Líder frontend</h5>
                <div class="card-body">
                  <p class="card-text text-center">Anthony Ahumada</p>
                </div>
              </div>
            </div>
            <div class="flip-card-back">
              <div class="card-body">
                <br>
                <p class="font-italic">Ingeniero de sistemas</p>
                <img src="./assets/img/logos/U_autónoma_(Colombia)_logo.png" class="card-img-top"
                  style="width:120px;height:70px;" alt="Logo Fundacion Universitaria Autonoma De Colombia">
                <hr class="card-team">
                <p>Desarrollador web Full Stack</p>
                <img src="./assets/img/logos/siigo.png" class="card-img-top" style="width:130px;height:80px;"
                  alt="Logo de SIIGO">
                <img src="./assets/img/logos/stackoverflowers.png" class="card-img-top" style="width:180px;height:60px;"
                  alt="Logo Stackoverflowers">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End card-->
  
    </div>
    <!--End row-->
  
    <div class="row">
  
      <!--Start card-->
      <div class="col-sm-4 team">
        <div class="flip-card ">
          <div class="flip-card-inner ">
            <div class="flip-card-front">
              <div class="card mb-3 shadow" style="width: 18.3rem">
                <img src="./assets/img/team/stiven.png" class="card-img-top" alt="Fotografía Stiven Posada">
                <h5 class="card-header text-center">Líder backend</h5>
                <div class="card-body">
                  <p class="card-text text-center">Stiven Posada</p>
                </div>
              </div>
            </div>
            <div class="flip-card-back">
              <div class="card-body">
                <br>
                <p class="font-italic">Ingeniero electrónico</p>
                <img src="./assets/img/logos/Logo-uniandes-09.png" class="card-img-top" style="width:75px;height:80px;"
                  alt="Logo Universidad de los Andes">
                <hr class="card-team">
                <p>Desarrollador web Full Stack</p>
                <img src="./assets/img/logos/logo-olimpia.png" class="card-img-top" style="width:180px;height:90px;"
                  alt="Logo Olimpia IT">
                <img src="./assets/img/logos/stackoverflowers.png" class="card-img-top" style="width:180px;height:60px;"
                  alt="Logo Stackoverflowers">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End card-->
  
      <!--Start card-->
      <div class="col-sm-4 team">
        <div class="flip-card ">
          <div class="flip-card-inner ">
            <div class="flip-card-front">
              <div class="card mb-3 shadow" style="width: 18.3rem">
                <img src="./assets/img/team/juan.jpg" class="card-img-top" alt="Fotografía Carolina Chacón">
                <h5 class="card-header text-center">Líder pruebas</h5>
                <div class="card-body">
                  <p class="card-text text-center">Manuel Huertas</p>
                </div>
              </div>
            </div>
            <div class="flip-card-back">
              <div class="card-body">
                <br>
                <p class="font-italic">Ingeniero de sistemas</p>
                <img src="./assets/img/logos/Logo_UFPS.png" class="card-img-top" style="width:150px;height:90px;"
                  alt="Logo Universidad Francisco de Paula Santander">
                <hr class="card-team">
                <p>Desarrollador web Full Stack</p>
                <img src="./assets/img/logos/logo_open.png" class="card-img-top" style="width:200px;height:70px;"
                  alt="Logo Open International">
                <img src="./assets/img/logos/stackoverflowers.png" class="card-img-top" style="width:180px;height:60px;"
                  alt="Logo Stackoverflowers">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End card-->
  
      <!--Start card-->
      <div class="col-sm-4 team">
        <div class="flip-card ">
          <div class="flip-card-inner ">
            <div class="flip-card-front">
              <div class="card mb-3 shadow" style="width: 18.3rem">
                <img src="./assets/img/team/carolina.jpg" class="card-img-top" alt="Fotografía Carolina Chacón">
                <h5 class="card-header text-center">Product Owner</h5>
                <div class="card-body">
                  <p class="card-text text-center">Carolina Chacón</p>
                </div>
              </div>
            </div>
            <div class="flip-card-back">
              <div class="card-body">
                <br>
                <p class="font-italic">Ingeniera de sistemas</p>
                <img src="./assets/img/logos/unab-logo.png" class="card-img-top" style="width:180px;height:90px;"
                  alt="Fotografía Carolina Chacón">
                <hr class="card-team">
                <p>Desarrolladora web Full Stack</p>
                <img src="./assets/img/logos/pensemos.png" class="card-img-top" style="width:180px;height:60px;"
                  alt="Fotografía Carolina Chacón">
                <img src="./assets/img/logos/stackoverflowers.png" class="card-img-top" style="width:180px;height:60px;"
                  alt="Logo Stackoverflowers">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End card-->
  
    </div>
    <!--End row-->
  
  </div>
  <!--End container-fluid-->
  

 
  

